:root {
	--base-color: hsl(213deg, 12.5%, 20%);
	--base-color-light: hsl(213deg, 12.5%, 22.5%);
	--base-color-light-a7d8: hsl(213deg, 12.5%, 22.5%, 87.5%);
	--base-color-light-a4d5: hsl(213deg, 12.5%, 22.5%, 80%);
	--base-color-light-a3d4: hsl(213deg, 12.5%, 22.5%, 75%);
	--base-color-light-a1d2: hsl(213deg, 12.5%, 22.5%, 50%);
	--base-color-dark: hsl(213deg, 12.5%, 17.5%);
	--base-color-darker: hsl(213deg, 12.5%, 15%);
	--base-color-line: hsl(213deg, 12.5%, 12.5%);
	--text-color: hsl(0deg, 0%, 93.33%);
	--accent-color: hsl(213deg, 100%, 70%);
	--black: hsl(0deg, 0%, 0%);
	--black-a1d8: hsl(0deg, 0%, 0%, 12.5%);
	background: var(--base-color);
	color: var(--text-color);
}

h1 {
	display: block;
	padding-inline: 16px;
	border-inline-start: 4px solid var(--text-color);
	margin-block: 16pt;
	margin-inline: 8px;
	font-size: 2rem;
	font-weight: 600;
}

a {
	color: var(--accent-color);
	font-weight: 600;
	text-decoration: none;
}

code {
	font-family: 'Courier New', Courier, monospace;
}

img {
	max-width: 100%;
}

.console {
	font-family: 'Courier New', Courier, monospace;
	font-size: small;
	color: #aaa;
}